In [1]:
# mylist = ["mercy", "chiamaka", "bola"]
# print(mylist)

In [2]:
mylist2 =["esther", 23, 6.9, True]
print(mylist2)

['esther', 23, 6.9, True]

In [3]:
print(len(mylist2))

4

In [4]:
print(type(mylist2))

<class 'list'>

In [5]:
mylist2[0]

'esther'

In [6]:
mylist2[2]

6.9

In [7]:
mylist2[0:3]

['esther', 23, 6.9]

In [8]:
mylist = ["esther", "chiamaka", "aliyu", "abiola", "rhoda"]
if "rhoda" in mylist:
    print("yes!, rhoda is in the list")

yes!, rhoda is in the list

In [9]:
mylist = ["esther", "chiamaka", "aliyu", "abiola", "rhoda"]
if "lubabat" in mylist:
    print("yes!, rhoda is in the list")
else:
    print("not here")

not here

In [10]:
mylist

['esther', 'chiamaka', 'aliyu', 'abiola', 'rhoda']

In [11]:
#insert method
mylist.insert(1, "omolaso")
print(mylist)

['esther', 'omolaso', 'chiamaka', 'aliyu', 'abiola', 'rhoda']

In [12]:
print(mylist)

['esther', 'omolaso', 'chiamaka', 'aliyu', 'abiola', 'rhoda']

In [13]:
#append method
mylist.append("rit")
print(mylist)

['esther', 'omolaso', 'chiamaka', 'aliyu', 'abiola', 'rhoda', 'rit']

In [14]:
mylist11 = ["mary", "george", "muhammed"]
mylist22 = ["michael", "amina", "zara"]
mylist11.extend(mylist22)
print(mylist11)

['mary', 'george', 'muhammed', 'michael', 'amina', 'zara']

In [15]:
mylist

['esther', 'omolaso', 'chiamaka', 'aliyu', 'abiola', 'rhoda', 'rit']

In [16]:
mylist.remove("aliyu")
print(mylist)

['esther', 'omolaso', 'chiamaka', 'abiola', 'rhoda', 'rit']

In [17]:
mylist

['esther', 'omolaso', 'chiamaka', 'abiola', 'rhoda', 'rit']

In [18]:
mylist.pop(3)

'abiola'

In [19]:
print(mylist)

['esther', 'omolaso', 'chiamaka', 'rhoda', 'rit']

In [20]:
mylist

['esther', 'omolaso', 'chiamaka', 'rhoda', 'rit']

In [21]:
mylist.sort()
print(mylist)

['chiamaka', 'esther', 'omolaso', 'rhoda', 'rit']

In [22]:
mylist.sort(reverse = True)
print(mylist)

['rit', 'rhoda', 'omolaso', 'esther', 'chiamaka']

In [23]:
mylist

['rit', 'rhoda', 'omolaso', 'esther', 'chiamaka']

In [24]:
for items in mylist:
    print(items)

rit
rhoda
omolaso
esther
chiamaka

List comprehensions

In [25]:
mynumbers = [200, 300, 450, 500, 600, 700]

new = []

for numbers in mynumbers:
    if numbers < 450:
        new.append(numbers)
        
print(new)

[200, 300]

SYNTAX
newlist = [expression for items in iterable(my-old list) if condition == True]

In [26]:
new = [numbers for numbers in mynumbers if numbers < 450]
print(new)

[200, 300]

In [27]:

nested_list = [1,2,3,[4,5,6], [7,8,9]]
print(nested_list)

[1, 2, 3, [4, 5, 6], [7, 8, 9]]

In [28]:
print(nested_list[3])

[4, 5, 6]

In [29]:
print(nested_list[4])

[7, 8, 9]

In [30]:
print(nested_list[3][1])

5

DICTIONARIES

In [31]:
mydict = {
    "name": "omolaso",
    "age" : 90,
    "country": "ghana"
}
print(mydict)

{'name': 'omolaso', 'age': 90, 'country': 'ghana'}

In [32]:
# mydict2 = {}
# mydict2["name"] = "chiamaka"

# mydict2["age"] = 80

# print(mydict2)

In [33]:
print(mydict["country"])

ghana

In [34]:
#changing a value to a new one 
mydict["country"] = "Senegal"
print(mydict)

{'name': 'omolaso', 'age': 90, 'country': 'Senegal'}

In [35]:
mydict

{'name': 'omolaso', 'age': 90, 'country': 'Senegal'}

In [36]:
#dictionaries don't support duplicates, it picks the last value or assignment
mydict2 = {
    "name": "omolaso",
    "age" : 90,
    "country": "ghana",
    "country" : "Nigeria",
    "age" : 55
}
print(mydict2)

{'name': 'omolaso', 'age': 55, 'country': 'Nigeria'}

In [37]:
mydict2

{'name': 'omolaso', 'age': 55, 'country': 'Nigeria'}

In [38]:
#to see the length of your dictionary
print(len(mydict))

3

In [39]:
mydict

{'name': 'omolaso', 'age': 90, 'country': 'Senegal'}

In [40]:
#keys - to get the keys in a dictionary
mydict.keys()

dict_keys(['name', 'age', 'country'])

In [41]:
#values - to get the values in a dictionary
mydict.values()

dict_values(['omolaso', 90, 'Senegal'])

In [42]:
#items method - to get the items in the dictionary
mydict.items()

dict_items([('name', 'omolaso'), ('age', 90), ('country', 'Senegal')])

In [43]:
#check if a key exists in a dictionary
if "country" in mydict:
    print("yes")

yes

In [44]:
#removes an item by passing in the key as an argument
mydict.pop("age")
print(mydict)

{'name': 'omolaso', 'country': 'Senegal'}

In [45]:
mydict

{'name': 'omolaso', 'country': 'Senegal'}

In [46]:
#this deletes a key
del mydict["country"]
print(mydict)

{'name': 'omolaso'}

In [47]:
#this deletes the complete dictionary
del mydict
print(mydict)

NameError: name 'mydict' is not defined

In [48]:
mydict3 = {
    "name": "rhoda",
    "age": 45,
    "state": "kogi"
}

In [49]:
mydict3

{'name': 'rhoda', 'age': 45, 'state': 'kogi'}

In [50]:
mydict3.clear()
print(mydict3)

{}

In [51]:
mydict4 = {
    "name": "mercy",
    "age": 45,
    "state": "lagos",
    "country": "Nigeria"
}
print(mydict4)

{'name': 'mercy', 'age': 45, 'state': 'lagos', 'country': 'Nigeria'}

In [52]:
for items in mydict4:
    print(items)

name
age
state
country

In [53]:
for items in mydict4.values():
    print(items)

mercy
45
lagos
Nigeria

In [54]:
for keys, values in mydict4.items():
    print(keys,values)

name mercy
age 45
state lagos
country Nigeria

TUPLES

In [55]:
mytuple = ("mercedez", "golf", "audi", "toyota", "golf")
print(mytuple)
print(type(mytuple))

('mercedez', 'golf', 'audi', 'toyota', 'golf')
<class 'tuple'>

In [56]:
mytuple2 = ("one", 23, True, 4.5)
print(mytuple2)
print(type(mytuple2))

('one', 23, True, 4.5)
<class 'tuple'>

In [57]:
print(mytuple[1])

golf

In [58]:
print(mytuple[-3:-1])

('audi', 'toyota')

In [59]:
print(mytuple[-1])

golf

In [60]:
print(mytuple[1:3])

('golf', 'audi')

In [61]:
#tuple does not support reassignment, tuples are immutable
mytuple["toyota"] = "gwagon"

TypeError: 'tuple' object does not support item assignment

In [62]:
print(mytuple.index("golf"))

1

In [63]:
print(mytuple.count("golf"))

2

In [64]:
mytuple = ("mercedez", "golf", "audi", "toyota", "golf")
mylist = list(mytuple)
mylist[2] = "gwagon"
mytuple = tuple(mylist)
print(mytuple)

('mercedez', 'golf', 'gwagon', 'toyota', 'golf')

In [65]:
for elements in mytuple:
    print(elements)

mercedez
golf
gwagon
toyota
golf

In [66]:
#tuple unpacking
mytuple = ("mercedez", "golf", "audi", "toyota", "golf")
car1, car2, car3, car4, car5 = mytuple
print(car1)
print(car2)
print(car3)
print(car4)
print(car5)

mercedez
golf
audi
toyota
golf

SETS

In [67]:
myset = {"apple", "banana", 2, 5.6, True}
print(myset)
print(type(myset))
print(len(myset))

{True, 2, 'banana', 'apple', 5.6}
<class 'set'>
5

In [68]:
print(myset[0])

TypeError: 'set' object is not subscriptable

In [69]:
for items in myset:
    print(items)

True
2
banana
apple
5.6

In [70]:
myset = {"apple", "banana", 2, 5.6, True}
myset.add("strawberry")
print(myset)

{True, 2, 'banana', 'strawberry', 'apple', 5.6}

In [71]:
print(myset.pop())
print(myset)

True
{2, 'banana', 'strawberry', 'apple', 5.6}

In [72]:
myset1 = {3,4}
myset2 = {3,4,5,6}
myset3 = myset1.intersection(myset2)
myset4 = myset1.union(myset2)
print(myset3)
print(myset4)
print(myset1.issubset(myset2))

{3, 4}
{3, 4, 5, 6}
True

FUNCTIONS

in-built functions
print
len
int
type

In [73]:
#A function is a set of statements that perform a particular task, saves us from writing a particular routine over again
#1. A function is a block of statements that only runs when it is called
#2. the function is defined only once but can be called as many times as possible or as desired
#3. you can pass data into a function. that data is called a parameter or an argument.
#4. 


#syntax for defining a function


#def name_of_function():
    #block of code
 
#name_of_function()



#positional arguments
#keyword arguments
#default arguments

In [74]:
def first_function():
    print("hello world")
    
first_function()

hello world

In [75]:
#defining a function with a positional argument

def first_function(name):
    print("hello", name)
    
first_function("Rit")

hello Rit

In [76]:
#defining a function with multiple positional arguments

def addnumbers(number1, number2):
    result = number1 + number2
    print(result)
    
addnumbers(3,6)

9

In [77]:
#defining a function with a default argument

def addnumbers(number1 = 5, number2 = 5):
    result = number1 + number2
    print(result)
    
addnumbers()

10

In [78]:
#defining a function with a keyword argument

def addnumbers(number1, number2):
    result = number1 + number2
    print(result)
    
addnumbers(number1=5, number2=5)

10

In [79]:
#defining a function with a keyword argument

def addnumbers(number1, number2):
    result = number1 + number2
    print(result)
    
addnumbers(4, number2=5)

9

In [80]:
#syntax when using a return statement

#def func_name:
    #code_to_be_executed
    #return statement

In [81]:
def addnumbers(number1, number2):
    return number1 + number2

myresult = addnumbers(2,5)
print(myresult)

7

In [82]:
def isevenorodd(number):
    if number%2 == 0:
        return "even_number"
    else:
        return "odd_number"
    
isevenorodd(22)

'even_number'

In [83]:
#function args - used when youn don't know how many arguments will be passed to your function
def addfunction(*number):
    return sum(number)

addfunction(1,2,3,4,5)

15

In [86]:
#kwargs
def aboutme(**me):
    print(me)
    
aboutme(name="gbemi",age=100,country="nigeria",hobby="eating")

{'name': 'gbemi', 'age': 100, 'country': 'nigeria', 'hobby': 'eating'}